<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
        <require_module version="${uiframeworkVersion}">${project.parent.groupId}.uiframework</require_module>
        <require_module version="${uicommonsVersion}">${project.parent.groupId}.uicommons</require_module>
        <require_module version="${appuiVersion}">${project.parent.groupId}.appui</require_module>
        <require_module version="${reportingVersion}">${project.parent.groupId}.reporting</require_module>
        <require_module version="${reportingRestVersion}">${project.parent.groupId}.reportingrest</require_module>
        <require_module version="${webservices.restVersion}">${project.parent.groupId}.webservices.rest</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CaseReportActivator</activator>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		CaseReport.hbm.xml
        CaseReportTrigger.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

    <privilege>
        <name>Get Case Reports</name>
        <description>Able to get case reports</description>
    </privilege>

    <privilege>
        <name>Manage Case Reports</name>
        <description>Able to manage case reports</description>
    </privilege>

    <privilege>
        <name>Get Triggers</name>
        <description>Able to get triggers</description>
    </privilege>

    <privilege>
        <name>App: casereport.manageCaseReports</name>
        <description>Able to access the manage case reports app</description>
    </privilege>

</module>

