<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
        <require_module version="${uiframeworkVersion}">${project.parent.groupId}.uiframework</require_module>
        <require_module version="${uicommonsVersion}">${project.parent.groupId}.uicommons</require_module>
        <require_module version="${appuiVersion}">${project.parent.groupId}.appui</require_module>
        <require_module version="${reportingVersion}">${project.parent.groupId}.reporting</require_module>
        <require_module version="${reportingRestVersion}">${project.parent.groupId}.reportingrest</require_module>
        <require_module version="${webservices.restVersion}">${project.parent.groupId}.webservices.rest</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CaseReportActivator</activator>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		CaseReport.hbm.xml
        CaseReportTrigger.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

    <!-- GPs -->
    <globalProperty>
        <property>${project.parent.artifactId}.openhimUrl</property>
        <description>
            The URL to the OpenHIM server, typically the path should match the URL pattern
            of the channel for the OpenXDS mediator
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.openhimClientId</property>
        <description>
            The OpenHIM client Id, to be set if basic authentication is required, the client must have
            access to the OpenXDS mediator
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.openhimClientPassword</property>
        <description>The OpenHIM client password, to be set if basic authentication is required</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.idFormat</property>
        <defaultValue>%2$s^^^&amp;%1$s&amp;ISO</defaultValue>
        <description>Specifies the format to use for identifiers in the CDA document,
            %1$s = Root (or domain) and %2$s = Extension (or identifier)</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.confidentialityCode</property>
        <defaultValue>N</defaultValue>
        <description>
            The code specifying the level of confidentiality of the CDA document, allowed values are N, R, or V,
            which stand for Normal, Restricted and Very restricted respectively
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeCode</property>
        <description>
            This code represents the type of organizational setting of the facility submitting case
            report documents, the allowed values are predefined in the repository where the reports
            are submitted, see <a href="https://wiki.openmrs.org/x/IxXfBQ">documentation</a> for more details.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeCodingSystem</property>
        <description>The coding system of the health facility type code</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeDisplayName</property>
        <description>The display name of the health facility type</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingCode</property>
        <description>
            The code specifying the clinical specialty of the facility submitting case report documents
            (e.g. Family Practice, Laboratory, Radiology), the allowed values are predefined in the repository where
            the reports are submitted, see <a href="https://wiki.openmrs.org/x/IxXfBQ">documentation</a> for more details.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingCodingSystem</property>
        <description>The coding system of the practice setting code</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingDisplayName</property>
        <description>The display name of the practice setting</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.organisationIdentifier</property>
        <description>Identifier of the entity that submits case report documents, MUST be an OID</description>
    </globalProperty>

    <!-- Privileges -->
    <privilege>
        <name>Get Case Reports</name>
        <description>Able to get case reports</description>
    </privilege>
    <privilege>
        <name>Manage Case Reports</name>
        <description>Able to manage case reports</description>
    </privilege>
    <privilege>
        <name>Get Triggers</name>
        <description>Able to get triggers</description>
    </privilege>
    <privilege>
        <name>App: casereport.manageCaseReports</name>
        <description>Able to access the manage case reports app</description>
    </privilege>

</module>

