<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif, Ravilla</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
        <require_module version="${uiframeworkVersion}">${project.parent.groupId}.uiframework</require_module>
        <require_module version="${uicommonsVersion}">${project.parent.groupId}.uicommons</require_module>
        <require_module version="${appuiVersion}">${project.parent.groupId}.appui</require_module>
        <require_module version="${reportingVersion}">${project.parent.groupId}.reporting</require_module>
        <require_module version="${webservices.restVersion}">${project.parent.groupId}.webservices.rest</require_module>
        <require_module version="${appframeworkVersion}">${project.parent.groupId}.appframework</require_module>
        <require_module>${project.parent.groupId}.fhir2</require_module>
    </require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CaseReportActivator</activator>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		CaseReport.hbm.xml
        	CaseReportTrigger.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>org.openmrs.module.casereport.CrossOriginResourceSharingFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/ws/rest/*</url-pattern>
    </filter-mapping>

    <!-- GPs -->
    <globalProperty>
        <property>${project.parent.artifactId}.autoSubmitProviderUuid</property>
        <description>
            The uuid of the provider to set as the submitter of automatically submitted case reports,
            must be for a provider account that is either linked to a person record or has a name with
            at least 2 name fields specified
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.openHIMUrl</property>
        <defaultValue>http://openhim_server_ip:5001/fhir/casereport</defaultValue>
        <description>
            The URL to the OpenHIM server, typically the path should match the URL pattern
            of the channel for the OpenXDS mediator
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.openHIMClientId</property>        
        <description>
            The OpenHIM client Id, to be set if basic authentication is required, the client must have
            access to the OpenXDS mediator
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.openHIMClientPassword</property>
        <description>The OpenHIM client password, to be set if basic authentication is required</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.caseReportFormat</property>
        <defaultValue>FHIR</defaultValue>
        <description>
            Case Report format, allowed values are FHIR or CDA
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.patientIdFormat</property>
        <defaultValue>%2$s^^^&amp;%1$s&amp;ISO</defaultValue>
        <description>
            Specifies the format to use for identifiers in the CDA document, %1$s = Root (or domain)
            and %2$s = Extension (or identifier), should match the one in the Client Registry
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.identifierTypeMappings</property>
        <description>
            A comma separated list of mappings between local identifier types to those in the Client Registry, the
            values are local identifier type uuids and the unique OIDs of the identifiers in the client registry, an
            example mapping is 2f470aa8-1d73-43b7-81b5-01f0c0dfa53c:2.16.840.1.113883.1.3
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.confidentialityCode</property>
        <defaultValue>N</defaultValue>
        <description>
            The code specifying the level of confidentiality of the CDA document, allowed values are N, R, or V,
            which stand for Normal, Restricted and Very restricted respectively
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeCode</property>
        <description>
            This code represents the type of organizational setting of the facility submitting case
            report documents, the allowed codes are predefined in the
            <b>/PATH-TO-OpenSHR-INSTALL-DIR/openxds/conf/actors/XdsCodes.xml</b> file on the machine where OpenSHR
            is installed, for more details see <a href="https://wiki.openmrs.org/x/IxXfBQ">documentation</a> under
            'Install the SHR' sub section.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeCodingSystem</property>
        <description>The coding system of the health facility type code</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.healthCareFacilityTypeDisplayName</property>
        <description>The display name of the health facility type</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingCode</property>
        <description>
            The code specifying the clinical specialty of the facility submitting case report documents
            (e.g. Family Practice, Laboratory, Radiology), the allowed codes are predefined in the
            <b>/PATH-TO-OpenSHR-INSTALL-DIR/openxds/conf/actors/XdsCodes.xml</b> file on the machine where OpenSHR
            is installed, for more details see <a href="https://wiki.openmrs.org/x/IxXfBQ">documentation</a> under
            'Install the SHR' sub section.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingCodingSystem</property>
        <description>The coding system of the practice setting code</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.practiceSettingDisplayName</property>
        <description>The display name of the practice setting</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.organizationOID</property>
        <description>
            Identifier of the entity that submits case report documents, MUST be an OID,
            please refer to the module documentation for the constraints around the allowed values.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.organizationExtension</property>
        <description>Extension of the entity that submits case report documents</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.organizationName</property>
        <description>Name of the entity that submits case report documents</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.enableCors</property>
        <description>
            When set to true, this allows the CBR simulator and any other authenticated code running in
            the browser to have access to this instance's rest API, for security reasons this should
            always be set to false if you are not running the simulator against this instance.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.publicHealthCaseReportConcept</property>
        <defaultValue>2.16.840.1.113883.6.1:LOINC:55751-2:Public health Case report</defaultValue>
        <description>
            Specifies the mapping for the concept that represents a public health case report that is to be used when
            submitting a case report, a valid value MUST be of the form source_oid:source_name:code:name e.g
            2.16.840.1.113883.6.1:LOINC:55751-2:Public health Case report
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.causeOfDeathConcept</property>
        <defaultValue>2.16.840.1.113883.6.1:LOINC:79378-6:Cause of death</defaultValue>
        <description>
            Specifies the mapping for the concept that represents a cause of death that is to be used when
            submitting a case report, a valid value MUST be of the form source_oid:source_name:code:name e.g
            2.16.840.1.113883.6.1:LOINC:79378-6:Cause of death
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.diagnosticsConcept</property>
        <defaultValue>2.16.840.1.113883.6.1:LOINC:30954-2:Relevant diagnostic tests and/or laboratory data</defaultValue>
        <description>
            Specifies the mapping for the concept that represents diagnostic and laboratory test data that is to be
            used when submitting a case report, a valid value MUST be of the form source_oid:source_name:code:name e.g
            2.16.840.1.113883.6.1:LOINC:30954-2:Relevant diagnostic tests and/or laboratory data
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.triggerConcept</property>
        <defaultValue>2.16.840.1.113883.6.96:SNOMED CT:410658008:Trigger</defaultValue>
        <description>
            Specifies the mapping for the concept that represents a trigger event that is to be used when
            submitting a case report, a valid value MUST be of the form source_oid:source_name:code:name e.g
            2.16.840.1.113883.6.96:SNOMED CT:410658008:Trigger
        </description>
    </globalProperty>

    <!-- Privileges -->
    <privilege>
        <name>Get Case Reports</name>
        <description>Able to get case reports</description>
    </privilege>
    <privilege>
        <name>Manage Case Reports</name>
        <description>Able to manage case reports</description>
    </privilege>
    <privilege>
        <name>Get Triggers</name>
        <description>Able to get triggers</description>
    </privilege>
    <privilege>
        <name>App: casereport.manageCaseReports</name>
        <description>Able to access the manage case reports app</description>
    </privilege>

</module>

